*{ margin: 0; padding: 0;}
body{
    overflow-x: hidden;
}
.carousel img{
    width: 100%;
    height: 90vh;
} 
.tct{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formerror{
    font-size: 14px;
    color: red;
}
